<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="arrow-round-back" (click)="back()"></ion-icon>habitacion 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-item>
          <ion-label >Familia : {{familia}} </ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-label>Expensas : {{expensas}}</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card>
    
      <ion-card>
        <ion-item>
          <ion-label>N° Puerta : {{NPuerta}}</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card>
    
      <ion-card>
        <ion-item>
          <ion-label>N° Hijos : {{Nninos}}</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card>
    
      <ion-card>
        <ion-item>
          <ion-label>N° Mascotas : {{Nmascotas}}</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card>
</ion-content>
