<ion-header>
  <ion-toolbar color="primary">
      <ion-title *ngIf="area.tipo=='Area Comun'">
          <ion-icon name="arrow-round-back" (click)="return()"></ion-icon>
          <ion-title float-right color="light">Areas en común</ion-title>
        </ion-title>
        <ion-title *ngIf="area.tipo=='vivienda'">
            <ion-icon name="arrow-round-back" (click)="return()"></ion-icon>
            <ion-title float-right color="light">Vivienda</ion-title>
          </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="area.tipo=='Area Comun'">
    <ion-card>
      <ion-card color="danger">
        <ion-title>Datos-Areas en común</ion-title>
      </ion-card>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="areaComun.NombreArea" name="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input [(ngModel)]="areaComun.precio" name="precio"></ion-input>
      </ion-item>
      <br>
      <br>
      <ion-button expand="full" color="success" shape="round" (click)="anadirArea()">Guardar</ion-button>
    </ion-card>
  </div>
  <div *ngIf="area.tipo=='vivienda'">
    <ion-card>
      <ion-card color="danger">
        <ion-title>Datos-Vivienda</ion-title>
      </ion-card>
      <ion-item>
        <ion-label position="floating">Familia</ion-label>
        <ion-input [(ngModel)]="vivienda.Familia" name="familia"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">N° de Puerta</ion-label>
        <ion-input [(ngModel)]="vivienda.nroPuerta" name="nropuerta"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">¿Quién paga expensas?</ion-label>
        <ion-input [(ngModel)]="vivienda.ExpensasPaga" name="expensaspaga"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">N° de Niños</ion-label>
        <ion-input [(ngModel)]="vivienda.nroNinos" name="nroninos"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">N° de Mascotas</ion-label>
        <ion-input [(ngModel)]="vivienda.nroMascotas" name="nromascotas"></ion-input>
      </ion-item>
      <br>
      <br>
      <ion-button expand="full" color="success" shape="round" (click)="anadirVivienda()">Guardar</ion-button>
    </ion-card>
  </div>
</ion-content>