<ion-content padding>
    <div align="center">
        <img src="assets/icon/logo.png">
        <h1 style="color:white">Registro</h1>
      </div>
      
  <div align="center">
      <ion-item>
          <ion-label>Email</ion-label>
          <ion-input required type="email" placeholder="" [(ngModel)] = "correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input required type="password" placeholder="" [(ngModel)] = "contrasena"></ion-input>
      </ion-item>
      <p></p>
      <a (click)="verificacion()">Olvidaste tu contraseña?</a>
          <ion-button margin-top expand="block" color="dark" fill="solid">
              Iniciar Sesion
            </ion-button>
          <ion-button margin-top expand="block" color="secondary" fill="solid">
              crear nueva cuenta
            </ion-button>
  </div>
    
</ion-content>