<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Nuevo Edificio<ion-title float-right color="light">Guardar</ion-title>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card color="danger">
        <ion-title>Datos del Edificio</ion-title>
      </ion-card>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Expensas</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">N° Domicilio</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">N° de Recepción</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-card color="secondary">
        <ion-title>Areas en Común</ion-title>
      </ion-card>
      <ion-item>
        <ion-label position="floating">Area</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input></ion-input>
        </ion-item>
      <br>
      <br>
      <ion-button expand="full" color="secondary" shape="round">Guardar</ion-button>
    </ion-card>
    <ion-card>
      <ion-card color="primary">
        <ion-title>Vivienda</ion-title>
      </ion-card>
      <ion-item>
        <ion-label position="floating">Familia</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">N° de Puerta</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">¿Quién paga expensas?</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">N° de Niños</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">N° de Mascotas</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
      <br>
      <ion-button expand="full" color="primary" shape="round">Guardar</ion-button>
    </ion-card>
  
  </ion-content>