<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <ion-icon name="arrow-round-back" (click)="return()"></ion-icon>
        <ion-title float-right color="light" (click)="editarEdificio()">Editar</ion-title>
        <ion-title float-right color="light" (click)="agregarEdificio()">Guardar</ion-title>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card color="danger">
        <ion-title>Datos del Edificio</ion-title>
      </ion-card>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input [(ngModel)]="edificio.descripcion" name="descripcion" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input [(ngModel)]="edificio.direccion" name="direccion" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Expensas</ion-label>
        <ion-input [(ngModel)]="edificio.expensas" name="expensas"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="edificio.nombre" name="nombre" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">N° Domicilio</ion-label>
        <ion-input [(ngModel)]="edificio.nroDomicilio" name="domicilio" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">N° de Recepción</ion-label>
        <ion-input [(ngModel)]="edificio.nroRecepcion" name="recepcion" ></ion-input>
      </ion-item>
    </ion-card>

    <ion-card *ngFor="let item of items">
      <label>{{item.key}}</label>
    </ion-card>
  </ion-content>